.dialogs {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.messages {
  border-left: 2px solid rgb(184, 184, 184);
  background-color: #f0f0f0;
  padding: 20px;
}

.addMessage {
  display: flex;
  justify-content: flex-end;
}

.addMessage_send {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  background-color: purple;
  color: #ffffff;
  cursor: pointer;
}

.addMessage_send:hover {
  background-color: rgb(109, 0, 109);
}